/* about.component.css */

/* Style for the About section */
/* General styling */
/* About.component.css */
:root {
    --text-color: black;
    --background-color: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: white;
        --background-color: #333;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
    color: var(--text-color);
    background-color: var(--background-color);
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.section-description,
.team-member p,
.testimonial blockquote,
.contact-info ul li {
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.6;
    margin-bottom: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

#about {
    padding: 50px 0;
}

.founder-story img {
    max-width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-member {
    margin-bottom: 40px;
}

.team-member h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.testimonial {
    margin-bottom: 40px;
}

.testimonial blockquote p {
    margin-bottom: 10px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    line-height: 1.6;
    margin-bottom: 8px;
}

.contact-info ul li:before {
    content: "\2022";
    margin-right: 10px;
}

/* Responsive Styles */

@media (max-width: 768px) {
    .team-member {
        margin-bottom: 20px;
    }
}
