<form action="" #fm="ngForm" (ngSubmit)="login(em,pwd)" class="form-container" responsive>
    <h2>Sign In</h2>
    <div class="form">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter the email" ngModel #em="ngModel"
                pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" required>
            <div class="error" *ngIf="(fm.submitted || em.touched) && em.errors?.['required']">Email is required</div>
            <div class="error" *ngIf="(fm.submitted || em.touched) && em.errors?.['pattern']">Please enter a valid email</div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter the password" ngModel #pwd="ngModel"
                minlength="8" required>
            <div class="error" *ngIf="(fm.submitted || pwd.touched) && pwd.errors?.['required']">Password is required</div>
            <div class="error" *ngIf="(fm.submitted || pwd.touched) && pwd.errors?.['minlength']">Password must be at least 8 characters long</div>
        </div>
    </div>
    <button type="submit" class="form-submit-btn">Click me</button>
    <p>Don't have an account? Sign up <a routerLink="/register">here</a></p>
</form>
