form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 50px;
    margin-bottom: 70px;
    padding-top: 40px;
    background: 
                linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
    padding-bottom: 40px;
    border-radius:10px;
    box-shadow: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

p {
    text-align: center;
    margin-top: 10px;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
